body {
    background-image: url("https://wallpaperaccess.com/full/1268183.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

canvas {
    background: rgba(255, 255, 255, 0.059);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.font-retro {
    font-family: 'Press Start 2P', cursive;
}